* {
    /*border: solid red 1px;*/
}


html {
    font-family: 'Comfortaa', cursive;
    font-family: 'Heebo', sans-serif;
    background-color: #312509;
}



.header {
    display: flex;
    justify-content: center;
    background-color: #a3bbad;
    margin: 1%;
    align-items: center;
}

.header-logo {
    width: 7rem;
}

.main-section-container {
    display: flex;
}

.destination-section {
    text-align: center;
    width: 68%;
    margin: 0 1%;
    background-color: #a3bbad;
}

.destination-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.destination-card {
    width: 30%;
    border: 1px solid black;
    margin-bottom: 2%;
    
}

.destination-card-text-div {
    padding: 10%;
}

.destination-card-image {
    width: 100%;
    height: 40%;
    object-fit: cover;
}

.service-bar-container {
    background: lightgray;
    padding: 1%;
    margin: 2%;
}

.service-bar-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    
}

.service-bar-service-type {
    width: 17%;
    margin: 0 1%;
}

.service-list-div {
    text-align: left;
}

.guests-section {
    width: 28%;
    margin: 0 1%;
    background-color: #a3bbad;
    text-align: center;
}

.guest-list-container {
    text-align: left;
}

.footer {
    display: flex;
    background-color: #a3bbad;
    margin: 1%;
    justify-content: space-evenly;
    align-items: center;
}